<div class="max-w-xs rounded overflow-hidden shadow-lg border border-gray-200 m-8 flex flex-col items-center	">
  <div class=" flex flex-col items-center ">
    <div class="w-full flex  items-center bg-teal-500 ">
      <div class="font-bold text-2xl mb-2 w-full text-neutral-50 text-center">{{ customer.name}}</div>
      <img
        class="w-6 h-6 blue-500 mr-2"
        src="./assets/editing.png"
        alt="edit button"
        (click)="onEditCustomer(index)">
    </div>
    <img
      class="blue-500 mt-4 w-20 h-20"
      [src] = "(customer.gender=='female') ? './assets/woman-avatar.png' : './assets/male-user.png'"
      alt="customer's image">
    <p class="text-gray-700 text-base	 self-start pt-4 px-6 py-4">
      {{ customer.gender}} <br>   {{ customer.location}}  </p>
  </div>
  <div
      class="px-4 pt-2 pb-1 ">
    <span class="inline-block bg-gray-200 rounded-full px-5 py-2 text-base	 font-semibold text-gray-700 mr-2 mb-2">View Orders</span>
  </div>
</div>

<!--<div class="max-w-sm w-full lg:max-w-full lg:flex">-->
<!--  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug">-->
<!--  </div>-->
<!--  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">-->
<!--    <div class="mb-8">-->
<!--      <p class="text-sm text-gray-600 flex items-center">-->
<!--        <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">-->
<!--          <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />-->
<!--        </svg>-->
<!--        Members only-->
<!--      </p>-->
<!--      <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>-->
<!--      <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>-->
<!--    </div>-->
<!--    <div class="flex items-center">-->
<!--      <img class="w-10 h-10 rounded-full mr-4" src="./assets/oussama%20cerclesmile.png" alt="Avatar of Jonathan Reinink">-->
<!--      <div class="text-sm">-->
<!--        <p class="text-gray-900 leading-none">Jonathan Reinink</p>-->
<!--        <p class="text-gray-600">Aug 18</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
