<div class="card-view" *ngIf="viewMode==0">
<div class="max-w-xs rounded overflow-hidden shadow-lg border border-gray-200 m-8 flex flex-col items-center	">
  <div class=" flex flex-col items-center ">
    <div class="w-full flex  items-center bg-teal-500 ">
      <div class="font-bold text-2xl mb-2 w-full text-neutral-50 text-center">{{ customer.name}}</div>
      <img
        class="w-6 h-6 blue-500 mr-2"
        src="./assets/editing.png"
        alt="edit button"
        (click)="onEditCustomer(index)">
    </div>
    <img
      class="blue-500 mt-4 w-20 h-20"
      [src] = "(customer.gender=='female') ? './assets/woman-avatar.png' : './assets/male-user.png'"
      alt="customer's image">
    <p class="text-gray-700 text-base	 self-start pt-4 px-6 py-4">
      {{ customer.gender }} <br>   {{ customer.location }}  </p>
  </div>
  <div
      class="px-4 pt-2 pb-1 ">
    <span class="inline-block bg-gray-200 rounded-full px-5 py-2 text-base	 font-semibold text-gray-700 mr-2 mb-2" routerLink="orders"
          routerLinkActive="active">View Orders</span>
  </div>
</div>
</div>

<div class="list-view" *ngIf="viewMode==1">
  <section  class="flex flex-col justify-center antialiased bg-gray-100 text-gray-600  p-4">
<!--            []="index==0"-->

    <div class="h-full">
      <!-- Table -->
      <div
        class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
<!--        []="index==0"-->


        <header *ngIf="index==0" class="px-5 py-4 border-b border-gray-100">
          <h2 class="font-semibold text-gray-800">Customers</h2>
        </header>

        <div class="p-3">
          <div class="overflow-x-auto">
            <table class="table-auto w-full">
              <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50" *ngIf="index==0">
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Name</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Gender</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Location</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center">Orders</div>
                </th>
              </tr>
              </thead>

              <tbody class="text-sm divide-y divide-gray-100">

              <tr>
                <td class="p-2 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="rounded-full" src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
                    <div class="font-medium text-gray-800">{{ customer.name}}</div>
                  </div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left">{{customer.gender}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-left font-medium text-green-500">{{customer.location}}</div>
                </td>
                <td class="p-2 whitespace-nowrap">
                  <div class="text-center">View Orders</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div *ngIf="viewMode==2">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
      <div class="p-8 bg-white border rounded shadow-sm">
        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
          <a href="/" class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800" aria-label="Category">weekend</a>
          <span class="text-gray-600">— 1 Feb 2020</span>
        </p>
        <a href="/" aria-label="Article" title="Jingle Bells" class="inline-block mb-3 text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-400">Jingle Bells</a>
        <p class="mb-5 text-gray-700">
          Some pilots get picked and become television programs. Some don't, become nothing.
        </p>
        <div class="flex items-center">
          <a href="/" aria-label="Author" title="Author" class="mr-3">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="/" aria-label="Author" title="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400">Vasile Melinte</a>
            <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
          </div>
        </div>
      </div>
      <div class="p-8 bg-white border rounded shadow-sm">
        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
          <a href="/" class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800" aria-label="Category">holidays</a>
          <span class="text-gray-600">— 15 Nov 2020</span>
        </p>
        <a href="/" aria-label="Article" title="Happy new Year" class="inline-block mb-3 text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-400">Happy new Year</a>
        <p class="mb-5 text-gray-700">
          Pommy ipsum smeg head whizz morris dancers come hither, bugger codswallop gob. Taking the mick middle class bog.
        </p>
        <div class="flex items-center">
          <a href="/" aria-label="Author" title="Author" class="mr-3">
            <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="/" aria-label="Author" title="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400">John Doe</a>
            <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
          </div>
        </div>
      </div>
      <div class="p-8 bg-white border rounded shadow-sm">
        <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
          <a href="/" class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800" aria-label="Category">programming</a>
          <span class="text-gray-600">— 28 Dec 2020</span>
        </p>
        <a href="/" aria-label="Article" title="Why i love C++" class="inline-block mb-3 text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-400">Why i love C++</a>
        <p class="mb-5 text-gray-700">
          Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
        </p>
        <div class="flex items-center">
          <a href="/" aria-label="Author" title="Author" class="mr-3">
            <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="/" aria-label="Author" title="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400">Andrew Larkin</a>
            <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
